=simple_form_for(@job, html:{class: 'form-horizontal'}) do |f|
  -if @job.errors.any?
    #error_explanation
      %h2= pluralize(@job.errors.count, "error")
      prohibited this todo_list from being saved
      %ul
        -@job.errors.full_messages.each do |message|
          %li= message
  .form
    =f.collection_select :category_id, Category.all, :id, :name, {prompt: "Choose A Category"}, input_html: {class: "dropdown-toggle"}
  =f.input :title, label:'Job Title', input_html: {class: "form-control"}
  =f.input :description, label:'Job Description', input_html: {class: "form-control"}
  =f.input :company, label:'Company', input_html: {class: "form-control"}
  =f.input :url, label:'Job URL', input_html: {class: "form-control"}
  %br/
  .form
    =f.button :submit,class: "btn btn-sm btn-default"
    =link_to "Back",root_path,class: "btn btn-sm btn-default"

