#jobs
  .job
    %h2=@job.title
    %p= @job.description
    %p= @job.company
    %button.btn.btn-lg.btn-default=link_to "Apply For Job",@job.url
#links
  =link_to "Back",root_path, class: 'btn btn-sm btn-default'
  -if correct_user?(@job.user)
    =link_to "Edit",edit_job_path, class: 'btn btn-sm btn-default'
    =link_to "Delete",job_path(@job), method: :delete, data: {confirm: "Are You Sure?"}, class: 'btn btn-sm btn-default'
%hr{:style => "opacity: 0.6;"}
