%h1{:style => "text-align:center;"}
  Please click on Pay with Card to pay
  %strong $10.00!

  = form_tag charges_path do
    %article
      - if flash[:error].present?
        #error_explanation
          %p= flash[:error]
    %script.stripe-button{"data-amount" => "1000", "data-description" => "A month's subscription", "data-key" => "#{Rails.configuration.stripe[:publishable_key]}", "data-locale" => "auto", :src => "https://checkout.stripe.com/checkout.js"}
