!!!5
%html
%head
  %title Smart Jobs
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
%body
  %nav.navbar.navbar-default
    .container
      .navbar-brand Smart Jobs
      %ul.nav.navbar-nav
        %li=link_to "All Jobs",root_path
        -Category.all.each do|category|
          %li= link_to category.name,jobs_path(category: category.name)
      -if user_signed_in?
        =link_to "Log Out", destroy_user_session_path , class: "navbar-text navbar-right navbar-link",method: :delete
        =link_to "New Job", new_job_path, class: "navbar-text navbar-right navbar-link"
      -else
        =link_to "Sign Up", new_user_registration_path , class: "navbar-text navbar-right navbar-link"
        =link_to "Sign In", user_session_path , class: "navbar-text navbar-right navbar-link"
      =link_to "Pricing", new_charge_path , class: "navbar-text navbar-right navbar-link"
  .container
    #margin
      .col-md-8.col-md-offset-1
        -flash.each do |name,msg|
          =content_tag(:div, msg , class: "notice")
        = yield


